/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; width: 100vw; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;   background-color: var(--primary-background);
}
:root {
  --primary:#1AB75D;
  --primary-background :#151619;
  --secondary-background :#1E1F23;
  --button-background: #1E302D;
  --primary-text: #ffffff;
}
