.body {
  display: flex;
  background-color: var(--secondary-background);
  align-items: center;
  justify-content: space-between;
  padding: 1.2em;
  height: 8%;
  gap: 2em;
}
img {
  max-width: 80px;
  max-height: 80px;

}
h3{
  padding-top: 0.2em;

}
.left {
  display: flex;
  align-items: center;
  color: white;
}
button {
  color: var(--primary);

}

button:hover {
  background-color: var(--button-background);
  color: white;
}
@media screen and (min-width: 480px) {
  .body {
    height: 5%;
  }
  button {
   transform: scale(1.5);
  }
  .right {
    gap: 3em;
    margin-right: 2em;

  }
}
