.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-background);
  height: 100%;
  width: 100%;
  color: white;;
}

button {
  background-color:var(--primary);
}