.body {
  color: white;
  padding: 2em;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center
}

.hero {
  display: flex;
  justify-content: center;
}

.img-preview-container {
  margin-left: 35%;
  margin-bottom: 1em;
}

.image {
  max-width: 40%;
  max-height: 20%;
  display: block;
  border-radius: 5px;
}

.submit {
  background-color: var(--primary);
  width: 70%;
}

.file-uploader {
  background-color: var(--primary);
  width: 50%;
  margin: 1em;
}

/* NUMBER INPUT REMOVE ARROWS */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* MAT FORM CHANGED COLOR */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: var(--primary) !important;
}

::ng-deep .mat-input-element {
  caret-color: white !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: white !important;
}


@media screen and (min-width: 480px) {

  .form>mat-form-field {
    width: 30%;
    height: 20%;
    align-items: center
  }

  .img-preview-container {
    margin-left: 37%;
  }

  .submit {
    width: 40%;
  }

  .file-uploader {
    width: 20%;
  }

  .submit {
    width: 30%;
  }
}

#error {
  color: red;
  text-align: center;
}