<div class="body">
  <charity-app-production-page-navigation
    pageName="Donate Clothes"
  ></charity-app-production-page-navigation>
  <div class="container">
    <p>Item informations</p>
    <form #f="ngForm" class="form" (ngSubmit)="handleSubmit(f)">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Item title</mat-label>
          <input matInput placeholder="name" ngModel name="title" required />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>£ Price</mat-label>
          <input
            matInput
            type="number"
            placeholder="0.00"
            ngModel
            name="price"
            required
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Item size</mat-label>
          <input matInput placeholder="S/M/L" ngModel name="size" required />
        </mat-form-field>
      </p>

      <label class="image-upload-container btn btn-bwm">
        <span>Select Image</span>
        <input
          #imageInput
          type="file"
          accept="image/*"
          (change)="processFile(imageInput)"
          required
        />
      </label>
      <div *ngIf="selectedFile" class="img-preview-container">
        <mat-icon
          *ngIf="selectedFile.status === 'ok'"
          fontIcon="check_circle"
        ></mat-icon>
        <mat-icon
          *ngIf="selectedFile.status === 'fail'"
          fontIcon="block"
        ></mat-icon>
        <img src="{{ imgUrl }}" />
      </div>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Item informations</mat-label>
          <textarea
            matInput
            placeholder="Description..."
            ngModel
            name="description"
            required
          ></textarea>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>
      <button
        mat-button
        type="submit"
        [disabled]="!f.valid || selectedFile.status !== 'ok'"
      >
        submit
      </button>
    </form>
  </div>
</div>
