.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  gap: 1em;
}
/* NUMBER INPUT REMOVE ARROWS */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* MAT FORM CHANGED COLOR */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: var(--primary)!important;
}
::ng-deep .mat-input-element {
  caret-color: white!important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color:white!important;
}
