<charity-app-production-nav-bar [cart]="cart"></charity-app-production-nav-bar>
<div class="container">
  <div class="title">
    <h3>SHOPPING BAG</h3>
  </div>

  <mat-list class="cart" *ngIf="cart.length > 0; else elseBlock">
    <charity-app-production-cart-item
      *ngFor="let item of cart"
      [item]="item"
      (updateCart)="removeItem($event)"
    >
    </charity-app-production-cart-item>
  </mat-list>
  <ng-template #elseBlock>
    <h2 class="empty-cart">Your bag is currently empty.</h2>
  </ng-template>
  <mat-divider></mat-divider>
  <div class="checkout">
    <h3>TOTAL</h3>
    <h2>£{{ cartTotal }}.00 GBP</h2>
  </div>
  <mat-divider></mat-divider>
</div>
<div class="box">
  <button
    *ngIf="cart.length > 0"
    class="button"
    mat-button
    (click)="checkOut()"
  >
    Donate
  </button>
</div>
