.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin: 1em;
  padding: 1em;
  height: 100%;
  gap: 6em;

}
.donation {
  width: 70%;
  height: 20vh;
}
.button {
  background-color: var(--primary);
  color: white;
  width: 60%;
  font-size: 1em;

}
input {
  position: relative;
  left: 15%;
  font-size: 3em;
  color: var(--primary-text);
  text-align: center;

}

.field{
  width: 80vw;
  display: flex;
  flex-direction: column;
  color: white;
}


.chips *{
  background-color: var(--primary);
  color: var(--primary-background);
}
.chips *:hover{
  background-color: var(--primary-background);
  color: var(--primary);
}

@media screen and (min-width: 480px) {

  .button {
    width: 40%;

  }
}


/* NUMBER INPUT REMOVE ARROWS */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* MAT FORM CHANGED COLOR */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: var(--primary)!important;
}
::ng-deep .mat-input-element {
  caret-color: white!important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color:white!important;
}

