<div class="container">
  <mat-card class="box">
    <img
      class="banner"
      mat-card-image
      src="{{ charity.coverImageUrl }}"
      alt="Charity Banner"
    />
    <mat-card-content class="donate">
      <h3>{{ charity.name }}</h3>
      <button class="arrow" mat-stroked-button (click)="navigate()">
        <h2>DONATE</h2>
      </button>
      <charity-app-production-favorites-button
        (click)="addCharityToFavorites()"
        [isFavorite]="charityIsFavorite"
      ></charity-app-production-favorites-button>
    </mat-card-content>
  </mat-card>
</div>
