.container {
  width: 60%;
  height: 25%;
  border-radius: 20px;

}
.donate{
  display: flex;
 justify-content: center;
 gap:0.5em
}

.arrow
{
  color : var(--primary);
  transform : scale(0.7)
}
.card {
  background-color: var(--secondary-background );
  position: relative;
  left: 0.2em;
  bottom: 2em;
  border-radius: 20px;

}
