<div class="container">
  <mat-card class="box">
    <img
      class="banner"
      mat-card-image
      src="{{ charity.coverImageUrl }}"
      alt="Charity Banner"
    />
    <mat-card-content class="donate">
      <h3>{{ charity.name }}</h3>
      <button class="arrow" mat-stroked-button (click)="navigate()">
        <h2>DONATE</h2>
      </button>
    </mat-card-content>
  </mat-card>
</div>

<!-- <mat-card-header class="donate">
    </mat-card-header> -->
<!-- <mat-card class="card">
      <h6>Donate!</h6>
      <button class="arrow" mat-button (click)="navigate()">
        <mat-icon>arrow_forward</mat-icon>
      </button>
  </mat-card> -->
