.container {
  border-radius: 20px;
  position:relative;

}
.box {
  background-color: var(--button-background);

}

.donate{
height: 5%;
display: flex;
justify-content: space-around;
align-items: baseline


}
.banner {
  height: 15em;
}

.arrow
{
  color : var(--primary);
  transform : scale(0.7)
}
.card {
  background-color: var(--button-background);
  position: absolute;
  border-radius: 20px;
  bottom: -2em;
  left: 2em;


}
.card > * {
  height: 50%;
  margin: 0;
}
