
.container .infos .infos-detail{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.container {
  position: relative;
}
.button{
  margin: 0;
  position: absolute;
  background-color: var(--primary);
}

.main{
  display: flex;
  flex-direction: row;
  color: var(--primary);
  align-items: center;
  justify-content: space-between;
}
.infos{
  padding: 0.2em;
  margin-top: -1.3em;
  margin-bottom: -2em;

  height: 12rem;
}
.infos-detail .main{
  height: 2rem;

}
.infos-detail{
  color:white;
  margin-top: -2em;

}
.infos-detail p{
  margin-top: -2em;
}

.image{
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.hero > .button{
  opacity:0.5;
  visibility: hidden;
}
.hero:hover .button{
  visibility: visible;
}