<div class="container">
  <div class="hero">
    <button
      *ngIf="!itemInCart; else elseBlock"
      class="button"
      mat-button
      (click)="handleClick()"
    >
      Add to cart
    </button>
    <ng-template #elseBlock>
      <button class="button" mat-button (click)="handleClick()">
        Remove from cart
      </button>
    </ng-template>

    <img src="{{ item.img_url }}" alt="itemImage" class="image" />
  </div>
  <div class="infos">
    <div class="main">
      <p>{{ item.size }}</p>
      <h4>£ {{ item.price }}</h4>
    </div>
    <div class="infos-detail">
      <h4>{{ item.title }}</h4>
      <p>{{ item.description }}</p>
    </div>
  </div>
</div>
