<charity-app-production-nav-bar></charity-app-production-nav-bar>
<div class="body">
  <div class="box">
    <img
      class="banner"
      src="{{ charity?.coverImageUrl }}"
      alt="Charity? Banner"
    />
  </div>
  <div class="title">
    <h2>{{ charity?.name }}</h2>
    <button (click)="navigate('shop')" class="shop" mat-icon-button>
      <mat-icon fontIcon="shopping_cart"></mat-icon>
    </button>
  </div>
  <div class="description">
    <p>{{ charity?.description }}</p>
  </div>
  <div class="buttons">
    <button mat-button (click)="navigateSecondary('cash')">Donate</button>
    <button mat-button (click)="navigate('donate-clothes')">
      Donate Clothes
    </button>
  </div>
</div>
