<charity-app-production-nav-bar [cart]="cart"></charity-app-production-nav-bar>
<div class="container" *ngIf="charity">
  <charity-app-production-page-navigation pageName="Shop">
  </charity-app-production-page-navigation>
</div>
<div class="items" *ngIf="items.length > 0; else block">
  <charity-app-production-shop-item
    (updateCart)="setCart($event)"
    class="component"
    [item]="item"
    *ngFor="let item of items"
  ></charity-app-production-shop-item>
</div>
<ng-template #block>
  <div class="template">
    <h1 class="text">No items to show yet...</h1>
  </div></ng-template
>
