.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color:#1E1F23;
  height: 100%;
  width: 100%;
  color: white;;
}
.logo-button {
  display: flex;
}
.user-infos {
  height  : 20%;
}
.charities {
  height  : 70%;

  display: flex;
  flex-direction: column;
  gap: 1em;
}