.container {
  height: 95%;
  color: white;
  padding: 1em ;
}

.user-infos {
  border-radius: 5px;
  background-size:cover;
  background-position: center;
  height  : 70%;
  display: grid;
  align-items: end;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  padding: 0.5em
}
.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero > h1{
  font-size: 3em;
}
.hero > p{
  font-size: 1.4em;
  font-weight: 400;
  margin-top: -1em;
}
.charities {
  height  : 70%;
  padding: 2em

}
h2 {
  margin-bottom: 2em;
  margin-top: 1em;

}
.banners {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding-bottom: 2em;

}
.hero-profile {
  max-width: 400px;

  color: var(--primary);
  padding: 1.5em;
  background-color : var(--secondary-background );
}

.search {
  color : var(--primary);
  background-color: var(--button-background);
  transform : scale(0.5)
}
.search:hover {
  color : white;
  background-color:var(--primary);
}
.header-image{
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
@media screen and (max-width: 480px) {
  .hero {
    padding: 1em;
  }
  .hero > h1{
    font-size: 2em;
  }
  .hero > p{
    font-size: 1.3em;
    font-weight: 400;
  }
}
