<div class="container" *ngIf="user">
  <div class="user-infos">
    <div class="logo-button">
      <h1>GOODS 4 GOOD</h1>
      <button class="search" mat-button>
        <mat-icon fontIcon="search"></mat-icon>
      </button>
    </div>
    <mat-card class="hero-profile">
      <mat-icon fontIcon="account_circle"></mat-icon>
      <h3>Hello {{ user.username }} !</h3>
    </mat-card>
  </div>
  <div class="charities">
    <h2>Good causes of the Day</h2>
    <mat-list class="banners">
      <charity-app-production-charity-card
        *ngFor="let charity of charities.slice(0, 10)"
        [charity]="charity"
      ></charity-app-production-charity-card>
    </mat-list>
  </div>
</div>
